
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}

<style>
    .bordercss {
        border: 3px double #CCCCCC;
        color: black;
    }

        .bordercss:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            border: 2px solid rgba(81, 203, 238, 1);
        }
</style>
<script type="text/javascript">


    function GetDistrictList() {

        var DivisionId = $("#DivisionList").val();
        var ddlDistrictlist = $("#ddlDistrictlist");

        if (DivisionId != "" && DivisionId != null) {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetDistrictList", "LookupThana", "http")',
                data: { DivisionId: DivisionId },
                dataType: 'json',
                async: true,
                success: function (DistrictList) {
                    // $('#AjaxLoader').hide();
                    ddlDistrictlist.html('');
                    ddlDistrictlist.append($('<option></option>').val("0").html("Please select"));
                    $.each(DistrictList, function (id, option) {
                        ddlDistrictlist.append($('<option></option>').val(option.Id).html(option.DistrictName));
                    });
                },
                error: function (request, status, error) {
                    alert(request.statusText + "/" + request.statusText + "/" + error);
                }
            });
        }
    }



    function GetDistrictListLoad() {

        var DivisionId = $("#DivisionList").val();
        var ddlDistrictlist = $("#ddlDistrictlist");

        if (DivisionId != "" && DivisionId != null)
        {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetDistrictList", "LookupThana", "http")',
                data: { DivisionId: DivisionId },
                dataType: 'json',
                async: true,
                success: function (DistrictList) {
                    // $('#AjaxLoader').hide();
                    ddlDistrictlist.html('');
                    ddlDistrictlist.append($('<option></option>').val("0").html("Please select"));
                    $.each(DistrictList, function (id, option) {
                        ddlDistrictlist.append($('<option></option>').val(option.Id).html(option.DistrictName));
                    });
                    $("#ddlDistrictlist").val($("#vDistrictId").val());
                },
                error: function (request, status, error) {
                    alert(request.statusText + "/" + request.statusText + "/" + error);
                }
            });
        }
    }

    $(document).ready(function () {

      
        $("#DivisionList").val($("#vDivisionId").val()); //$("#vDivisionId").val()
        $("#txtThana").val($("#vThanaName").val());
        
       
        GetDistrictListLoad();
        
        $("#DivisionList").change(function () {

            GetDistrictList();
        });
        //ddlDistrictlist txtThana
        $("#btnSave").click(function (e) {

            e.preventDefault();

            if ($("#ddlDistrictlist").val() != "0" && $("#txtThana").val() != "") {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("EditThana", "LookupThana", "http")',
                        type: "GET",
                        dataType: 'json',
                        async: true,
                        data: { DistrictId: $("#ddlDistrictlist").val(), ThanaName: $("#txtThana").val(), ThanaId: $("#vThanaId").val() },
                        success: function (result) {
                            if (result == 1) {
                                $.alert.open('info', 'Save successfull', function (button) {
                                    window.location.href = '/LookupThana/Index';
                                });
                            }
                            else {
                                $(".failed").show(800).fadeToggle(3000);
                            }
                        },
                        error: function () {
                            // alert("Fail to save");
                            $(".failed").show(800).fadeToggle(3000);
                        }
                    });


            }
            else {
                $.alert.open("error", "Insert required field");
            }


        });

    });

</script>

@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary btn-sm pull-right" })
@using (Html.BeginForm("Create", "LookupThana", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "LookupThanaForm" }))
{

    <div class="page-title">
        <div class="title_left PageHeader" style="width:90%;">
            <h3 style="color: white;padding:2px">Thana edit</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            
            <input type="hidden" id="vDistrictId" value="@ViewBag.DistrictId" />
            <input type="hidden" id="vThanaName" value="@ViewBag.ThanaName" />
            <input type="hidden" id="vDivisionId" value="@ViewBag.DivisionId" />
            <input type="hidden" id="vThanaId" value="@ViewBag.ThanaId" />
          
          
            <ul class="nav navbar-right panel_toolbox">
                <li style="float:right;">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="demo-form2" data-parsley-validate>
                <div id="AjaxLoader" class="ajaxLoader"></div>
                <div class="item form-group">
                    @Html.Label("Division", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12 required" })
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        @Html.DropDownList("DivisionList", new SelectList(ViewBag.DivisionList, "Id", "DivisionName"), "Please select", new { @class = "form-control bordercss" })
                    </div>

                </div>
                <div class="item form-group">
                    @Html.Label("District", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12 required" })
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        @Html.DropDownList("Districtlist", null, new { @id = "ddlDistrictlist", @class = "form-control bordercss" })
                    </div>
                </div>
                <div class="item form-group">
                    @Html.Label("Thana", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12 required" })
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        @Html.Editor("Thana", new { htmlAttributes = new { @class = "form-control", @id = "txtThana" } })
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <button type="submit" id="btnSave" class="btn btn-success">Save</button>
                    </div>

                </div>

                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <div class="success" role="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p class="message-content">Saved Sucessfully</p>
                        </div>
                        <div class="failed" role="alert" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p class="message-content">Fail to save</p>
                        </div>
                        <br />

                    </div>
                </div>

            </form>
        </div>
    </div>

}


