@model ERP.Web.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
    var days = (int)ViewBag.Days;
}

<script type="text/javascript">


    //@days
    function CurrentPasswordMSG() {
        $.alert.open('alert', 'Current Password NOT Match'); // {, function (button)
        //    if (button == 'ok') {

        //       $("#CurrentPassword").focus();
        //        return true;
        //    }
        //    else {
        //        return false;
        //    }
        //});
    }
    function hasLowerCase(str) {
        return (/[a-z]/.test(str));
    }
    function hasUpperCase(str) {
        return (/[A-Z]/.test(str));
    }
    function hasNumber(str) {
        return (/[0-9]/.test(str));
    }
    function hasSpecialCharacter(str) {
        return (/[~`!#$@@%\^&*+=\-\[\]\\;,/{}|\\":<>\?]/g.test(str));
    }
    function newPasswordValidate() {
        var value = $("#NewPassword").val();
        $("#spnPassMessage").show();
        if (value.length < 8) {
            $("#spnPassMessage").html("At least 8 characters required.");
            return false;
        }
        else if (!hasLowerCase(value) && !hasUpperCase(value) && !hasSpecialCharacter(value)) {
            $("#spnPassMessage").html("No character found. at least one character required.");
            return false;
        }
        //else if (!hasUpperCase(value)) {
        //    $("#spnPassMessage").html("No uppercase character found. at least one uppercase character required.");
        //    return false;
        //}
        else if (!hasNumber(value)) {
            $("#spnPassMessage").html("No numeric character found. at least one numeric character required.");
            return false;
        }
        //else if (!hasSpecialCharacter(value)) {
        //    $("#spnPassMessage").html("No special character found. at least one special character required.");
        //    return false;
        //}
        $("#spnPassMessage").hide();
        return true;
    }
    $(document).ready(function () {

        //$("#CurrentPassword").focus();

        $("#NewPassword").attr("readonly", true);
        $("#ConfirmPassword").attr("readonly", true);
        $("#CurrentPassword").val("");

        $("#NewPassword").on("keyup", function() {
            $("#spnPassMessage").hide();
        });

        $("#btnPwChangeSave").click(function (e) {

            e.preventDefault();
            var NewPwd = $("#NewPassword").val().trim();

            if (!newPasswordValidate()) {
                return false;
            }

            if (!checkCurrentPassword()) {
                return false;
            }

            var ConfirmPwd = $("#ConfirmPassword").val();

            if (NewPwd == ConfirmPwd) {
                if (!validator.checkAll($('form'))) {
                    return false;
                }else if (NewPwd == $("#CurrentPassword").val().trim()) {
                    $.alert.open("Error!!", "Previous password and new password must not be same.");
                    return false;
                }
                else {

                    $('#changePasswordForm').ajaxSubmit({
                        type: "POST",
                        target: '#thumbnil',
                        data: {},
                        dataType: 'json',
                        resetForm: true,
                        success: function (Result) {
                            if (Result == "1") {
                                //$(".success").show(800).fadeToggle(3000);
                                //$("#ConfirmPassword").val("");
                                //$("#NewPassword").val("");
                                //$("#CurrentPassword").val("");
                                window.location = '/Account/Login';
                            }
                            else {
                                $(".failed").show(800).fadeToggle(3000);
                            }
                        },
                        error: function () {
                            $("#dialog-message").html('<p>Error, Fail to Save.</p>');
                            $("#dialog-message").dialog({
                                modal: true,
                                buttons: {
                                    Ok: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            });
                        }
                    });
                }
            }
            else {
                $.alert.open("error", "Password do not  match");
                $("#ConfirmPassword").val("");

            }
        });

        function checkCurrentPassword() {
            var CrtPassword = $("#CurrentPassword").val();
            var isValid = true;
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("CheckCurrentPassword", "Account", "http")',
                type: "GET",
                dataType: 'json',
                async: true,
                data: { CrtPassword: CrtPassword },
                success: function (Result) {
                    if (Result == "OK") {
                        $("#NewPassword").attr("readonly", false);
                        $("#ConfirmPassword").attr("readonly", false);
                        isValid = true;
                    }
                    else {
                        $("#CurrentPassword,#NewPassword,#ConfirmPassword").val("");
                        $("#NewPassword").attr("readonly", true);
                        $("#ConfirmPassword").attr("readonly", true);
                        isValid = false;
                        $.alert.open('alert', 'Current Password NOT Match');
                    }
                },
                error: function (request, status, error) {
                    $("#loading").hide();
                    $("#dvMessage").attr('class', 'failed');
                    $("#dvMessage").html(request.statusText);
                    $("#dvMessage").show();
                }
            });
            return isValid;
        }

        $("#CurrentPassword").blur(function () {
            checkCurrentPassword();
        });
    });

</script>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", id = "changePasswordForm" }))
{
    <div class="page-title">
        <div class="title_left PageHeader" style="width:100%;">
            <h3 style="color: white;padding:2px">Change  Password</h3>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">

            <ul class="nav navbar-right panel_toolbox">
                <li style="float:right;">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div id="AjaxLoader" class="ajaxLoader"></div>
                @if (days <= 7)
                {
                    <div class="item form-group">
                        <div class="col-sm-12 text-center" style="margin-bottom: 10px; font-size: 18px;">
                            @if (days > 0)
                            {
                                <span class="well well-sm text-danger" style="color: red;">
                                    Your Password will be expired in <strong>@days</strong> day(s). Please change your password.
                                </span>
                            }
                            else
                            {
                                <span class="well well-sm text-danger" style="color: red;">
                                    Your password already expired. Please change your password.
                                </span>
                            }
                        </div>
                    </div>
                }
                <div class="item form-group">
                    <div class="col-sm-12 text-center text-danger" style="margin-bottom: 10px;">
                        Password should be atleast 8 characters with one character and one numeric character
                    </div>
                 </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.PersonName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <span class="required" style="color:red">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = true } })

                    </div>
                </div>
                <div class="item form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <span class="required" style="color:red">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })

                    </div>
                </div>

                <div class="item form-group">
                    @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <span class="required" style="color:red">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Current Password", @type = "Password" } })

                    </div>
                </div>
                <div class="item form-group" id="divNewPassword">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <span class="required" style="color:red">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password", @type = "Password" } })
                        <h6 style="color:red; display: none;" id="spnPassMessage"></h6>
                    </div>
                </div>
                <div class="item form-group" id="divConfirmPassword">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <span class="required" style="color:red">*</span>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password", @type = "Password" } })

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="success" role="alert" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class="message-content">Saved Sucessfully</p>
                                </div>
                                <div class="failed" role="alert" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class="message-content">Fail to save</p>
                                </div>
                                @*<div class="failed" id="PasswordNotMatch" role="alert" style="display:none">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p class="message-content">Password Not Match</p>
                                    </div>*@
                                <button type="submit" id="btnPwChangeSave" class="btn btn-success">Submit</button>
                                @*<button type="submit" class="btn btn-primary">Cancel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}