@model ERP.Web.ViewModels.BrokerEmployeeViewModel

@{
    ViewBag.Title = "EmployeeProfile";
    Layout = "~/Views/Shared/_LayoutUcasportfolio.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {


        $("#ReleasedDate").hide();
        //if ($("#ReleasedDate").val != null)
        //{
        //    $("#ReleasedDate").show();
        //}
        //else
        //{
        //    $("#ReleasedDate").hide();
        //}

    });
</script>
<div class="x_content">
    <br />
    <form id="demo-form2" data-parsley-validate>
        <div class="col-sm-1">&nbsp;</div>
        <div style="width:740px;float:left">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Id", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Name", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Designation", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Department", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Branch Name", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.BrokerBranchName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Joining Date", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-3">
                            @Html.DisplayFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>

                       
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Phone", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Emergency Contact No.", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.EmergencyContact, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                       
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Father Name", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Mother Name", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Gender, new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.Label("Date of birth", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Present Address", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.PresentAddress, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                       
                        <div class="col-sm-2">
                            @Html.Label("Permanent Address", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.PermanentAddress, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Maritial Status", new { @class = "control-label", @style = "font-weight:bold;color:Black" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DisplayFor(model => model.MaritialStatus, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
